@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

.oswald      { font-family: 'Oswald', sans-serif; text-transform: uppercase; letter-spacing: 1px; }
.oldstandard { font-family: 'Old Standard TT', georgia, serif; }
.ptmono      { font-family: 'PT Mono', "Lucida Console", Monaco, monospace; }
.gentium     { font-family: 'Gentium Basic', georgia, serif; }
.karla       { font-family: 'Karla', Helvetica, Arial, sans-serif; }

html,
body {
  color: rgba(89,88,89,1);
  text-align: center;
}

#cool-border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border: 10px solid rgba(222,92,81,1);
  z-index: 500;
}

#intro {
  margin: 0;
  padding: 2em 2em 4em 2em;
  background: rgba(134,207,172,1);
  /**/
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.2);
}

img.placeholder {
  max-height: 60vh;
  width: auto;
  max-width: 100%;
  margin-top: 1em;
  opacity: 0.88;
}

#backdrop {
  background: rgba(145,127,113,1) url('../img/woodgrain-transparent.png') center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

#backdrop .container {
  color: white;
  padding: 4em 1.5em 10em;
}

p.btn.teal,
p.btn.teal:hover {
  background: rgba(134,207,172,1); 
  color: rgba(89,88,89,1);
  cursor: auto;
  margin-top: 2em;
  padding: 1em 2em;
  display: block;
  white-space: normal;
}

@media (min-width: 992px) {
    
  #intro {
    padding: 5em 25%;
    margin-bottom: 100vh;
    height: 90vh;
  }
    
  img.placeholder {
    margin-top: 2em;
  }

  #backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #backdrop .container {
    padding: 0;
    padding-top: 4em;
    padding-bottom: 4em;
  }
  
  #backdrop h1 {
    font-size: 7em;
  }
  #backdrop h4,
  #backdrop .lead.oswald {
    font-size: 3em;
  }

  p.btn.teal,
  p.btn.teal:hover {
    display: inline-block;
    white-space: nowrap;
  }

}