@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

.oswald      { font-family: 'Oswald', sans-serif; text-transform: uppercase; letter-spacing: 1px; }
.oldstandard { font-family: 'Old Standard TT', georgia, serif; }
.ptmono      { font-family: 'PT Mono', "Lucida Console", Monaco, monospace; }
.gentium     { font-family: 'Gentium Basic', georgia, serif; }
.karla       { font-family: 'Karla', Helvetica, Arial, sans-serif; }

html,
body {
  color: rgba(89,88,89,1);
  text-align: center;
}

#cool-border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border: 10px solid rgba(222,92,81,1);
  z-index: 500;
}

#intro {
  background: rgba(134,207,172,1);
  padding: 5em 25%;
  margin-bottom: 100vh;
  height: 90vh;
  z-index: 500;
  /**/
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.2);
}

#backdrop {
  background: rgba(145,127,113,1) url('../img/woodgrain-transparent.png') center center no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#backdrop .container {
  color: white;
  padding-top: 5em;
  padding-bottom: 5em;
}

#backdrop h1 {
  font-size: 7em;
}
#backdrop h4,
#backdrop .lead.oswald {
  font-size: 3em;
}

img.placeholder { height: 60vh; width: auto; margin-top: 2em; opacity: 0.75;}

