@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
.oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.oldstandard {
  font-family: 'Old Standard TT', georgia, serif;
}
.ptmono {
  font-family: 'PT Mono', "Lucida Console", Monaco, monospace;
}
.gentium {
  font-family: 'Gentium Basic', georgia, serif;
}
.karla {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
}
/** # Colors **/
/** Red Orange **/
/** Teal **/
/** Brown  **/
/** Light Blue **/
/** Medium Gray **/
/** dark gray **/
/** pink **/
/** /COLORS **/
/**********************/
/** # helper classes **/
/**********************/
.add-top {
  margin-top: 1.5em;
}
.add-top-2x {
  margin-top: 3em;
}
.add-bottom {
  margin-bottom: 1.5em;
}
.add-bottom-2x {
  margin-bottom: 3em;
}
/** for anything needing to stick to whole page in 1 place **/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/** everything shares a common dropshadow style **/
.dropshadow {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
/** any box shares these rounded corner styles **/
.rnded-corners {
  border-radius: 12px;
}
.red {
  background: rgba(222,92,81,1);
}
.teal {
  background: rgba(134,207,172,1);
}
.blue {
  background: rgba(86,198,229,1);
}
.gray {
  background: rgba(145,147,148,1);
}
.dkgray {
  background: rgba(89,88,89,1);
}
.pink {
  background: rgba(233,118,136,1);
}
.brown {
  background: rgba(145,127,113,1);
}
.gray a,
.gray a:hover,
.pms426 {
  color: rgba(89,88,89,1);
}
.red,
.teal,
.blue,
.gray,
.dkgray,
.pink,
.brown {
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
/** unround corners on mobile **/
@media (max-width: 767px) {
  .red,
  .teal,
  .blue,
  .gray,
  .dkgray,
  .pink,
  .brown {
    border-radius: 0 !important;
  }
}
/***********************/
/** # Layout & Design **/
/***********************/
/** layout and design for big main elements **/
html,
body {
  color: rgba(89,88,89,1);
  text-align: center;
}
#backdrop {
  background: rgba(145,127,113,1) url('../img/woodgrain-transparent.png') center center no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#cool-border {
  pointer-events: none;
  border: 10px solid rgba(222,92,81,1);
  border-top: none;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header {
  background: rgba(222,92,81,1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 499;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
/**** NAV BAR UP TOP ****/
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
header nav ul > li > a {
  display: block;
  padding: 10px 10px;
  color: white;
  line-height: 20px;
  transition: all 300ms ease;
}
header nav ul > li.title > a {
  font-family: 'Old Standard TT', georgia, serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
  line-height: 16px;
}
header nav ul > li.active > a,
header nav ul > li > a:hover {
  background: rgba(89, 88, 89, 0.5);
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
header nav ul > li.active.title > a,
header nav ul > li.title > a:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
}
/** media queries for nav **/
@media (min-width: 768px) {
  header nav ul > li > a {
    padding: 10px 20px;
  }
}
@media (min-width: 992px) {
  header nav ul > li > a {
    padding: 10px 30px;
  }
}
/**** END NAV BAR ****/
#intro {
  background: rgba(134,207,172,1);
  margin: 0;
  margin-bottom: 33%;
  padding: 2em 2em 4em 2em;
  position: relative;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.event {
  padding-top: 15px;
  padding-bottom: 30px;
  position: relative;
}
img {
  width: 100%;
  max-width: 100%;
}
.wrapper .container {
  color: white;
  padding-top: 4em;
  padding-bottom: 4em;
  font-family: 'Gentium Basic', georgia, serif;
}
/** media queries for stuff in layout & design **/
@media (min-width: 992px) {
  #intro {
    margin-bottom: 20vh;
  }
  .wrapper .container {
    padding: 7vh 0 14vh 0;
  }
}
@media (min-width: 1200px) {
  .event:nth-child(1),
  .event:nth-child(3) {
    top: 20vh;
  }
}
@media (min-height: 520px) and (min-width: 992px) {
  #intro {
    padding: 5em 25%;
    height: 90vh;
  }
}
/**************************/
/** # Typography & Links **/
/**************************/
section h2 {
  font-size: 3em;
}
a.btn {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
a.btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
a.btn.orange,
a.btn.orange:hover {
  background: rgba(222,92,81,1);
  color: white;
  cursor: auto;
  margin: .2em 0 ;
  padding: 1em 2em;
  display: block;
  white-space: normal;
}
a.btn.orange:hover {
  background: white;
  color: rgba(222,92,81,1);
}
/** Top HOME Section **/
#intro h2 {
  color: white;
  font-size: 2.75em;
  text-shadow: 2px 2px 0 rgba(134,207,172,1);
  width: 280px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -140px;
}
img.placeholder {
  max-height: 60vh;
  width: auto;
  max-width: 100%;
  margin-top: 1em;
  opacity: 0.88;
}
/** media queries for typography & top Home section **/
@media (min-width: 480px) {
  #intro h2 {
    font-size: 3.5em;
    text-shadow: 3px 3px 0 rgba(134,207,172,1);
    width: 400px;
    top: 210px;
    margin-left: -200px;
  }
}
@media (min-width: 660px) {
  #intro h2 {
    font-size: 5.5em;
    text-shadow: 4px 4px 0 rgba(134,207,172,1);
    width: 600px;
    top: 230px;
    margin-left: -300px;
  }
}
@media (min-width: 768px) {
  section h2 {
    font-size: 4em;
  }
}
@media (min-width: 992px) {
  section h2 {
    font-size: 6em;
  }
  #intro h2 {
    width: 800px;
    margin-left: -400px;
    top: 340px;
    top: calc(37vh);
  }
  img.placeholder {
    margin-top: 2em;
    min-height: 300px;
  }
}
/***********************/
/** # Details Section **/
/***********************/
#details .saturday h4 {
  color: white;
  font-size: 2.75em;
  text-shadow: 2px 2px 0 rgba(134,207,172,1);
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -50%;
  top: 180px;
  z-index: 99;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#details .saturday h4 span {
  font-size: 1.5em;
}
/** media queries for details section **/
@media (min-width: 768px) {
  #details .saturday h4 {
    top: 180px;
  }
  #details .saturday h4 span {
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  #details .saturday h4 {
    top: 200px;
    font-size: 4em;
    text-shadow: 4px 4px 0 rgba(134,207,172,1);
  }
}
@media (min-width: 1200px) {
  #details .saturday h4 {
    top: 260px;
  }
}
/*********************************/
/** # Stay / Get Around Section **/
/*********************************/
#stay h4 {
  font-size: 2em;
  margin: 1em 0;
}
#stay .hotel {
  padding-bottom: 30px;
}
#stay .hotel img {
  margin: 1em 25%;
  width: 50%;
  display: block;
}
.transport ul {
  margin: 0 20px 30px;
  padding: 11px;
  list-style: none;
}
.transport ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-indent: -11px;
}
/**********************/
/** # RSVP & CONTACT **/
/**********************/
